extends layout.pug
block content
    section.text-gray-600.body-font
      .container.px-5.py-24.mx-auto
        .flex.flex-col.text-center.w-full.mb-20.mainPaddingFromTop
          h1.text-2xl.font-medium.title-font.mb-4.text-gray-900 ਸਾਡੀ ਟੀਮ
          p.mx-auto.leading-relaxed.text-base(class='lg:w-2/3')
            | ਪੰਜਾਬ ਕਾਨੂੰਨੀ ਸੇਵਾਵਾਂ ਵਿਖੇ, ਅਸੀਂ ਆਪਣੇ ਗਾਹਕਾਂ ਨੂੰ ਬੇਮਿਸਾਲ ਕਾਨੂੰਨੀ ਪ੍ਰਤੀਨਿਧਤਾ ਅਤੇ ਵਿਅਕਤੀਗਤ ਧਿਆਨ ਪ੍ਰਦਾਨ ਕਰਨ ਲਈ ਵਚਨਬੱਧ ਹਾਂ। ਵਿਭਿੰਨ ਅਭਿਆਸ ਖੇਤਰਾਂ ਵਿੱਚ ਸਾਲਾਂ ਦੇ ਤਜ਼ਰਬੇ ਦੇ ਨਾਲ, ਸਾਡੇ ਵਕੀਲਾਂ ਕੋਲ ਤੁਹਾਡੇ ਟੀਚਿਆਂ ਨੂੰ ਪ੍ਰਾਪਤ ਕਰਨ ਵਿੱਚ ਤੁਹਾਡੀ ਮਦਦ ਕਰਨ ਲਈ ਜ਼ਰੂਰੀ ਗਿਆਨ ਅਤੇ ਹੁਨਰ ਹਨ।
          p ਸਾਡੀ ਫਰਮ ਦੀ ਸਥਾਪਨਾ ਈਮਾਨਦਾਰੀ, ਪੇਸ਼ੇਵਰਤਾ ਅਤੇ ਸਾਡੇ ਗਾਹਕਾਂ ਪ੍ਰਤੀ ਸਮਰਪਣ ਦੇ ਸਿਧਾਂਤਾਂ 'ਤੇ ਕੀਤੀ ਗਈ ਸੀ। ਅਸੀਂ ਸਮਝਦੇ ਹਾਂ ਕਿ ਕਾਨੂੰਨੀ ਮੁੱਦੇ ਤਣਾਅਪੂਰਨ ਅਤੇ ਉਲਝਣ ਵਾਲੇ ਹੋ ਸਕਦੇ ਹਨ, ਇਸ ਲਈ ਅਸੀਂ ਤੁਹਾਡੀਆਂ ਚਿੰਤਾਵਾਂ ਨੂੰ ਸੁਣਨ ਅਤੇ ਤੁਹਾਡੇ ਵਿਕਲਪਾਂ ਨੂੰ ਸਧਾਰਨ ਅੰਗਰੇਜ਼ੀ ਵਿੱਚ ਸਮਝਾਉਣ ਲਈ ਸਮਾਂ ਕੱਢਦੇ ਹਾਂ। ਅਸੀਂ ਆਪਣੇ ਗਾਹਕਾਂ ਨਾਲ ਮਿਲ ਕੇ ਕੰਮ ਕਰਨ ਵਿੱਚ ਵਿਸ਼ਵਾਸ ਰੱਖਦੇ ਹਾਂ ਤਾਂ ਜੋ ਉਹਨਾਂ ਦੀਆਂ ਵਿਲੱਖਣ ਸਥਿਤੀਆਂ ਅਤੇ ਟੀਚਿਆਂ ਦੇ ਅਨੁਸਾਰ ਰਣਨੀਤੀਆਂ ਵਿਕਸਿਤ ਕੀਤੀਆਂ ਜਾ ਸਕਣ।
          br
          p ਸਾਨੂੰ ਕਈ ਰਾਜਾਂ ਵਿੱਚ ਗਾਹਕਾਂ ਦੀ ਸੇਵਾ ਕਰਨ ਵਿੱਚ ਮਾਣ ਹੈ, ਅਤੇ ਅਸੀਂ ਆਪਣੇ ਭਾਈਚਾਰੇ ਵਿੱਚ ਵਿਅਕਤੀਆਂ ਅਤੇ ਕਾਰੋਬਾਰਾਂ ਨੂੰ ਕਾਨੂੰਨੀ ਪ੍ਰਣਾਲੀ ਵਿੱਚ ਨੈਵੀਗੇਟ ਕਰਨ ਵਿੱਚ ਮਦਦ ਕਰਨ ਲਈ ਭਾਵੁਕ ਹਾਂ। ਭਾਵੇਂ ਤੁਹਾਨੂੰ ਕਿਸੇ ਗੁੰਝਲਦਾਰ ਵਪਾਰਕ ਵਿਵਾਦ, ਪਰਿਵਾਰਕ ਕਾਨੂੰਨ ਦੇ ਮਾਮਲੇ, ਜਾਂ ਨਿੱਜੀ ਸੱਟ ਦੇ ਦਾਅਵੇ ਲਈ ਸਹਾਇਤਾ ਦੀ ਲੋੜ ਹੈ, ਅਸੀਂ ਮਦਦ ਕਰਨ ਲਈ ਇੱਥੇ ਹਾਂ।
          br
          p ਪੰਜਾਬ ਕਾਨੂੰਨੀ ਸੇਵਾਵਾਂ 'ਤੇ ਵਿਚਾਰ ਕਰਨ ਲਈ ਤੁਹਾਡਾ ਧੰਨਵਾਦ। ਅਸੀਂ ਤੁਹਾਡੇ ਨਾਲ ਕੰਮ ਕਰਨ ਦੇ ਮੌਕੇ ਦੀ ਉਡੀਕ ਕਰਦੇ ਹਾਂ।
        .flex.flex-wrap.-m-4
          .p-4(class='lg:w-1/4 md:w-1/2')
            .h-full.flex.flex-col.items-center.text-center
              img.flex-shrink-0.rounded-lg.w-full.h-56.object-cover.object-center.mb-4(alt='team' src='images/defaultprofile.jpg')
              .w-full
                h2.title-font.font-medium.text-lg.text-gray-900 ਅਮਨਿੰਦਰ ਸਿੰਘ
                h3.text-gray-500.mb-3 ਵਕੀਲ
                p.mb-4 ਕਾਨੂੰਨ ਦੀ ਚੰਗੀ ਤਰ੍ਹਾਂ ਸਮਝ ਹੈ ਅਤੇ ਖਾਸ ਸਥਿਤੀਆਂ 'ਤੇ ਇਸ ਦੀ ਵਿਆਖਿਆ ਕਰਨ ਅਤੇ ਲਾਗੂ ਕਰਨ ਲਈ ਸਿਖਲਾਈ ਪ੍ਰਾਪਤ ਹੈ।
          .p-4(class='lg:w-1/4 md:w-1/2')
            .h-full.flex.flex-col.items-center.text-center
              img.flex-shrink-0.rounded-lg.w-full.h-56.object-cover.object-center.mb-4(alt='team' src='images/defaultprofile.jpg')
              .w-full
                h2.title-font.font-medium.text-lg.text-gray-900 ਗੁਰਮੀਤ ਸਿੰਘ
                h3.text-gray-500.mb-3 ਵਿਕਾਸਕਾਰ
                p.mb-4 ਕਈ ਕੋਡਿੰਗ ਭਾਸ਼ਾਵਾਂ ਦੀ ਵਰਤੋਂ ਕਰਦੇ ਹੋਏ ਵੈੱਬਸਾਈਟ ਦੇ ਮੂਲ ਭਾਗਾਂ ਨੂੰ ਕਵਰ ਕੀਤਾ