extends layout.pug
block content
    section.text-gray-600.body-font
      .container.px-5.py-24.mx-auto
        .flex.flex-col.text-center.w-full.mb-20.mainPaddingFromTop
          h1.text-2xl.font-medium.title-font.mb-4.text-gray-900 OUR TEAM
          p.mx-auto.leading-relaxed.text-base(class='lg:w-2/3')
            | At Punjab legal helpline, we're committed to providing our clients with exceptional legal representation and personalized attention. With years of experience in a variety of practice areas, our attorneys have the knowledge and skills necessary to help you achieve your goals.
          p Our firm was founded on the principles of integrity, professionalism, and dedication to our clients. We understand that legal issues can be stressful and confusing, so we take the time to listen to your concerns and explain your options in plain English. We believe in working closely with our clients to develop strategies tailored to their unique circumstances and goals.
          br
          p We're proud to serve clients throughout multiple states, and we're passionate about helping individuals and businesses in our community navigate the legal system. Whether you need assistance with a complex commercial dispute, a family law matter, or a personal injury claim, we're here to help.
          br
          p Thank you for considering Punjab legal helpline. We look forward to the opportunity to work with you.
        .flex.flex-wrap.-m-4
          .p-4(class='lg:w-1/4 md:w-1/2')
            .h-full.flex.flex-col.items-center.text-center
              img.flex-shrink-0.rounded-lg.w-full.h-56.object-cover.object-center.mb-4(alt='team' src='images/defaultprofile.jpg')
              .w-full
                h2.title-font.font-medium.text-lg.text-gray-900 Amaninder Singh
                h3.text-gray-500.mb-3 Lawyer
                p.mb-4 Have a thorough understanding of the law and are trained to interpret and apply it to specific situations.
          .p-4(class='lg:w-1/4 md:w-1/2')
            .h-full.flex.flex-col.items-center.text-center
              img.flex-shrink-0.rounded-lg.w-full.h-56.object-cover.object-center.mb-4(alt='team' src='images/defaultprofile.jpg')
              .w-full
                h2.title-font.font-medium.text-lg.text-gray-900 Gurmeet Singh
                h3.text-gray-500.mb-3 Developer
                p.mb-4 Covered basic parts of website using multiple languages